body {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	min-width: 300px;
	margin: 0;
}
.bg-primary {
	color: white;
	background-color: #f05f40;
}
.bg-primary > hr {
	border-color: white;
}
hr {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	border-top: 1px solid #f05f40;
	border-width: 3px;
	width: 50px;
}
h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
h1 {
	font-weight: bold;
	color: white;
}
h1 em {
	color: #849CD0;
	text-transform: uppercase;
}
h2 {
	font-size: 1.8em;
}
nav {
	font-weight: bold;
	margin: 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1;
}
nav a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: black;
	text-transform: uppercase;
}
nav a:hover {
	color: #f05f40;
}
nav .brand {
	white-space: nowrap;
}
nav .right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: row wrap;
	font-size: .8em;
}
header {
	background: url("/img/header.jpg");
	background-repeat: no-repeat;
	background-size: 
}
header .landing img {
	max-width: 800px;
	max-height: 800px;
	margin: auto;
}
header .landing {
	max-width: 70em;
	min-width: 300px;
	margin: auto;
}
@media (max-width: 900px) {
	header .landing {
		top: 2em;
	}
	header .landing h1 {
		font-size: 1.5em;
	}
	header .landing img {
		max-width: 500px;
		max-height: 500px;
	}
}
@media (max-width: 650px) {
	nav {
		display: none;
	}
	header .landing {
		top: 0;
	}
	header .landing h1 {
		font-size: 1em;
	}
}
@media (max-width: 500px) {
	header .landing img {
		max-width: 300px;
		max-height: 300px;
	}
}
@media (max-width: 370px) {
	header .landing img {
		max-width: 200px;
		max-height: 200px;
	} 
	header .landing h1 {
		font-size: 0.8em;
	}
}
section {
	padding: 3em;
}
#club58 img {
	max-width: 300px;
	max-height: 335px;
	margin: auto;
}
iframe {
	max-width: 800px;
	margin: 1em auto;
}
footer {
	background-color: #222;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3em 0;
}
footer a {
	fill: #46629E;
	color: #46629E;
	text-decoration: none;
	margin: 2em;
}
footer a:hover {
	fill: #3b5998;
	color: #3b5998;
}
footer svg {
	width: 3em;
}